# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.terraform.lock.hcl

# logs
*.log

# Directories
.terraform/
.vagrant/

# Keys folder and ssh keys
keys/
*.pem
*.pem.pub

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf

# Ignore Mac .DS_Store files
.DS_Store

# Ignored vscode files
.vscode/

# Sentinel runtime directory
.sentinel
